[Unit]
Description=Blinky
After=network.target

[Service]
ExecStart=/bin/bash /opt/app/blink.sh
WorkingDirectory=/opt/app/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=user

[Install]
WantedBy=multi-user.target